Fabric==1.10.1
Scrapy==1.0.0
Twisted==15.2.1
cffi==1.1.2
characteristic==14.3.0
cryptography==0.9.1
cssselect==0.9.1
ecdsa==0.13
enum34==1.0.4
gnureadline==6.3.3
idna==2.0
ipaddress==1.0.7
ipython==3.1.0
lxml==3.4.4
numpy==1.9.2
pandas==0.16.2
paramiko==1.15.2
pyOpenSSL==0.15.1
pyasn1==0.1.8
pyasn1-modules==0.0.5
pycparser==2.14
pycrypto==2.6.1
python-dateutil==2.4.2
pytz==2015.4
queuelib==1.2.2
rethinkdb==2.0.0.post2
scrapyd==1.0.1
scrapyjs==0.1.1
selenium==2.46.0
service-identity==14.0.0
six==1.9.0
w3lib==1.11.0
wsgiref==0.1.2
zope.interface==4.1.2
